<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
        data-namespace-typo3-fluid="true">

    <div class="module">
        <h1><f:translate key="tx_simplelog404_domain_model_logentry.title"/></h1>
        <table class="tx_simplelog404 table table-striped">
            <tr>
                <th>
                    <f:translate key="tx_simplelog404_domain_model_logentry.requesturl"/>
                </th>
                <th>
                    <f:translate key="tx_simplelog404_domain_model_logentry.message"/>
                </th>
                <th>
                    <f:translate key="tx_simplelog404_domain_model_logentry.hitcount"/>
                </th>
                <th>
                    <f:translate key="tx_simplelog404_domain_model_logentry.lasthit"/>
                </th>
                <th>
                    <f:translate key="tx_simplelog404_domain_model_logentry.ref"/>
                </th>
                <th>
                </th>
            </tr>
            <f:for each="{logEntries}" as="logEntry">
                <tr>
                    <td width="50%">
                        <span class="small">{logEntry.host}</span><br>
                        <f:form.textfield  value="{logEntry.requesturlpath}" class="form-control mt-2" readonly="true" />
                    </td>
                    <td>
                        {logEntry.message}
                    </td>
                    <td>
                        {logEntry.hitcount}
                    </td>
                    <td>
                        <f:format.date format="d.m.Y H:i">{logEntry.lasthit}</f:format.date>
                    </td>
                    <td>
                        <pre>{logEntry.lastrefferer}</pre>
                    </td>
                    <td>
                        <a class="btn btn-default" href="{logEntry.requesturl}" title="{logEntry.requesturl}" target="_blank">
                            <core:icon identifier="actions-eye" size="small" />
                        </a>
                        <f:link.action class="btn btn-default" action="delete" arguments="{logEntry: logEntry}">
                            <core:icon identifier="actions-delete" size="small" />
                        </f:link.action>
                        <f:if condition="{redirectModuleActive}">
                            <be:link.newRecord class="btn btn-primary mt-2 d-block" table="sys_redirect"
                                defaultValues="{sys_redirect: {source_path: logEntry.requesturlpath}}">
                                <f:translate key="LLL:EXT:redirects/Resources/Private/Language/locallang_module_redirect.xlf:redirect_create"/>
                            </be:link.newRecord>
                        </f:if>
                    </td>
                </tr>
            </f:for>
        </table>
    </div>
</html>
